<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
	nav {
		color: white;
		padding-top: 25px;
	}
</style>

<body>
	{% block body %}
			<p>My friends</p>
				{%for row in data%}
				<ul>
					<li>{{row[1]}}</li>
					<li><a href="{{url_for("book_shelf", user_id=row[0])}}">See BookShelf</a>
				</ul>
				{%endfor%}
	{%endblock%}
</body>